<%= content_tag :div, 
  :rel => photo.id,
  :id => "spud_admin_photo_#{photo.id}", 
  :style => "background-image:url('#{photo.photo.url(:spud_admin_small)}')",
  :class => "spud_admin_photo_ui_thumb spud_admin_photo_ui_thumb_small" do %>
  <div style="display:none;">
    <%= hidden_field_tag 'spud_photo_album[photo_ids][]', photo.id %>
  </div>
  <div class="spud_admin_photo_ui_thumb_controls">
    <%= link_to 'Edit', edit_spud_admin_photo_path(photo), :class => 'ajax spud_admin_photos_btn_edit' %>
    <%= link_to 'Delete', '#', :class => 'spud_admin_photos_btn_remove' %>
  </div>
<% end %>