<%= content_for :data_controls do %>
  <%= link_to "New Photo", new_spud_admin_photo_path, :class => "button", :title => "New Photo" %>
<% end %>

<%= content_for :detail do %>
  <div id="spud_admin_photos_container">
    <ul id="spud_admin_photos">
      <% @photos.each do |photo| %>
      <li>
        <%= link_to 'Edit', edit_spud_admin_photo_path(photo), :style => "background-image:url(#{photo.photo.url(:admin_small)})" %>
      </li>
      <% end %>
    </ul>
  </div>
<% end %>