<% content_for :title do %>
  Photo Galleries | <%= Spud::Core.site_name %>
<% end %>

<% content_for :head do %>
  
<% end %>

<div id="spud_photo_galleries">
  <% @photo_galleries.each do |gallery| %>
    <div class="spud_photo_gallery_thumbnail">
      <h3><%= link_to gallery.title, photo_gallery_path(gallery.url_name) %></h3>
    </div>
  <% end %>
</div>