<% content_for :title do %>
  <%= @photo_gallery.title %> | <%= Spud::Core.site_name %>
<% end %>

<% content_for :head do %>
  
<% end %>

<div id="spud_photo_galleries">
  <% @photo_gallery.albums.each do |album| %>
    <div class="spud_photo_album_thumbnail">
      <h3><%= link_to album.title, photo_gallery_photo_album_path(@photo_gallery.url_name, album.url_name) %></h3>
    </div>
  <% end %>
</div>